h1 New curriculum branch for #{@subject.title}

= simple_form_for([@subject, @branch], url: :curriculum_subject_branches) do |f|
  == render 'form', f: f, back_to: curriculum_subject_branches_path(@subject)
