h3 Listing skills related to
h1 #{@section.title}

= link_to 'Add a skill', new_curriculum_section_learning_skill_path
br/
br/

== render 'index_table',
          sections_learning_skills: @sections_learning_skills,
          section: @section
br

= link_to 'Add a skill', new_curriculum_section_learning_skill_path
